#top
{
   color:white;
    background-color: #0000cd;
    padding-top:1%;
    padding-bottom:1%;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  .heading {
    font-size: 20px;
padding-top:1%; 
  }
  
   .welcome
  {
  margin:2%;
  margin-bottom:1%
  }